extends ./tutorTemplate 
block title
    title Confirm Transaction
block loob
    #content.column
        h2.ui.header.center.aligned Session Dates
        - var n = 1;
        form.ui.form(method='POST' action=`/tutor/confirm=${idForPug}/${reqIDForPug}`)
            each result in resultsForPug
                .four.wide.field
                    label Session #{n++}
                    input(type='text' value=result.dtmSessionDate readonly)
            button(type='submit' class='ui green animated fade button')
                .visible.content Confirm
                .hidden.content
                    i.check.icon