extends ./studentTemplate

block title
    title Knot Request
block loob
    #content.column
        .row
            .ui.segment
                h1.ui.center.aligned.header(style='color : #133872;') Knot Request Form
        .row
            br
            br
        .row
            form.ui.form(method='POST' action='/student/knotform')
                .three.wide.field
                    label Subject
                    input(type='text' name='subject' placeholder='Enter a Subject' required)
                .three.wide.field
                    label Your budget per session
                    input(type='number' name='budget' placeholder='Enter your Budget' step='0.01' required)
                .three.wide.field
                    label Requested Number of session
                    input(type='number' name='sessions' placeholder='Enter number of sessions' onkeyup="this.value = this.value.replace(/[^0-9|.]/, '')" required)
                button(type='submit' class='ui green animated fade button')
                    .visible.content Submit
                    .hidden.content
                        i.check.icon