//- This now serves as the base template, even for the master

html
    head
        block title

        //link(rel="stylesheet" href="/assets/bulma/bulma.css")
        //link(rel="stylesheet" href="/assets/materialize/materialize/css/materialize.css")
        link(rel="stylesheet" href="/assets/Semantic-UI-CSS-master/semantic.css")
        link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
        link(rel='stylesheet' href='/assets/chatBubble/chatBubble.css')
        link(rel='icon' href='/assets/logo/logo.png')
           
    body
        block body